<?php
$db_host = 'localhost';
$db_user = 'chatbox';
$db_pass = '';
$db_name = 'chatbox';

$forum_user = '';
$forum_pass = '';

$memcached_servers = array();
$memcached_servers[] = array('ip' => '127.0.0.1', 'port' => 11211);
$memcached_prefix = 'chatbox';

$cookie_file = 'tmp/cookies.txt';
$lockfile = 'tmp/chatbox.lock';
$logfile = 'log/log';
$tokenfile = 'tmp/securitytoken';
$tmpdir = 'tmp';
$success_file = 'tmp/last_update';

$report_email = 'paulchen@rueckgr.at';
$email_from = 'Chatbox Cronjob <chatbox@rueckgr.at>';

$refresh_time = 10;

$debug = false;
